@import 'pretendard/dist/web/static/pretendard.css';
@font-face {
  font-family: "GangwonEduHyeonokT";
  src: url("https://cdn.jsdelivr.net/gh/wooin21/web/fonts/GWedu/GangwonEduHyeonokT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none !important;
}

body {
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

input {
  outline: none;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
.main {
  background: url("/imgs/bgimg.jpg") no-repeat center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .delivery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.main .delivery-wrapper .plane {
  position: absolute;
  bottom: -115px;
  left: 50%;
  transform: translateX(-50%);
}
.main .delivery-wrapper .plane img {
  width: 6rem;
  height: auto;
}
.main .menu-bar {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}
.main .menu-bar.hover {
  opacity: 0;
}
.main .menu-bar.hover:hover, .main .menu-bar.pinned {
  opacity: 1;
}
.main .menu-bar .menu {
  width: 80vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .menu-bar .menu a:hover {
  color: #58D3FF;
}
.main .menu-bar .menu .user {
  display: flex;
  align-items: end;
  font-weight: 100;
}
.main .menu-bar .menu .user .userLink {
  font-size: 1rem;
}
.main .menu-bar .menu .user .user-name {
  font-weight: 400;
}
.main .menu-bar .menu .user .comment {
  white-space: pre-wrap;
}
.main .menu-bar .menu .user .user-bnt {
  margin-left: 10px;
  font-size: small;
  font-weight: 300;
  display: flex;
  gap: 5px;
}
.main .menu-bar .menu .user .user-bnt button {
  color: inherit;
}
.main .menu-bar .menu .user .user-bnt button:hover {
  color: #58D3FF;
}
.main .menu-bar .menu nav .burger {
  color: white;
  display: none;
}
.main .menu-bar .menu nav .menu-list {
  display: flex;
  gap: 15px;
  align-items: center;
}
.main .menu-bar .menu nav .menu-list a.active {
  color: #58D3FF;
}
.main .menu-bar .icon {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
}
.main .menu-bar .icon.active {
  color: #58D3FF;
}
.main .logo {
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 7px rgba(20, 60, 75, 0.3);
  margin-top: 30px;
}
.main .container {
  background-color: white;
  border-radius: 40px;
  width: 75vw;
  margin-top: 5px;
  margin-bottom: 3vh;
  min-height: 75vh;
  height: auto;
  padding: 20px 40px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.main .container .title {
  display: flex;
}
.main .container .title h1 {
  font-family: "GangwonEduHyeonokT";
  font-size: 4rem;
  position: relative;
  z-index: 5;
}
.main .container .title h1::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 35%;
  width: 100%;
  height: 15px;
  background-color: #58D3FF;
}

@media (max-width: 1024px) {
  body {
    font-size: 15px;
  }
  .main .delivery-wrapper .plane {
    bottom: -140px;
  }
  .main .menu-bar .menu {
    width: 90vw;
  }
  .main .logo {
    font-size: 4.5rem;
  }
  .main .container {
    width: 90vw;
    margin-top: 0px;
    padding: 10px 20px;
  }
  .main .container .title h1 {
    font-size: 2.7rem;
  }
}
@media (max-width: 950px) {
  body {
    font-size: 15px;
  }
  .main .delivery-wrapper .plane {
    bottom: -50px;
  }
  .main .delivery-wrapper .plane img {
    width: 4.5rem;
  }
  .main .menu-bar .menu {
    width: 90vw;
  }
  .main .menu-bar .menu .user {
    display: flex;
    align-items: end;
    font-weight: 100;
  }
  .main .menu-bar .menu .user span {
    font-weight: 300;
  }
  .main .menu-bar .menu .user .user-bnt {
    margin-left: 10px;
    font-size: small;
    font-weight: 300;
    display: flex;
    gap: 5px;
  }
  .main .menu-bar .menu .user .user-bnt button {
    color: inherit;
  }
  .main .menu-bar .menu .user .user-bnt button:hover {
    color: #58D3FF;
  }
  .main .menu-bar .menu nav .burger {
    display: block;
  }
  .main .menu-bar .menu nav .menu-list.active {
    display: flex;
  }
  .main .menu-bar .menu nav .menu-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
    z-index: 1001;
  }
  .main .menu-bar .icon {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .main .menu-bar .icon.active {
    color: #58D3FF;
  }
  .main .logo {
    font-size: 3.5rem;
    margin-top: 50px;
  }
  .main .container {
    min-height: 78vh;
  }
  .main .container .title h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 15px;
  }
  .main .delivery-wrapper .plane {
    bottom: -25px;
  }
  .main .delivery-wrapper .plane img {
    width: 2.5rem;
  }
  .main .menu-bar .menu {
    width: 90vw;
  }
  .main .menu-bar .menu .user .comment {
    display: none;
  }
  .main .menu-bar .menu nav .burger {
    display: block;
  }
  .main .menu-bar .menu nav .menu-list.active {
    display: flex;
  }
  .main .menu-bar .menu nav .menu-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
    z-index: 1001;
  }
  .main .menu-bar .icon {
    margin-right: 5px;
  }
  .main .logo {
    font-size: 3.3rem;
    margin-top: 30px;
  }
  .main .container {
    min-height: 78vh;
  }
  .main .container .title h1 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=common.css.map */